<div id="bandStyle">
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="onirianBand">
    <h2 class="w3-wide">ONIRIAN</h2>
    <p class="w3-opacity"><i>Biografía</i></p>
    <p class="w3-justify">Raúl, Rubén y Víctor hicieron renacer Onirian de sus cenizas en 2015 con la incorporación
      de Jesús (voz), Daniel P (guitarra) y Daniel C (bajo) a la antigua formación. En noviembre de ese mismo año
      retoman los escenarios con una buena acogida por parte del público.
      A principios de 2016 sacan a la luz su primera maqueta autoeditada, "Raíces", con la ayuda de Ismael Pastor.
      Actualmente se definen como metal melódico, con un estilo propio que ni ellos mismos saben clasificar.
    </p>
    <div id="gallerySmall" class="w3-center">
      <button class="w3-btn w3-margin-bottom w3-tag w3-red"
              ng-click="openLightbox();currentLightbox(1)">Ver galería de imágenes</button>
    </div>
    <div class="w3-row w3-padding-32" id="galleryNormal">
      <div class="w3-third">
        <p>Raúl González</p>
        <img src="../../images/raul.jpg" class="w3-round w3-margin-bottom w3-hover-opacity" alt="Raúl González"
             ng-click="openLightbox();currentLightbox(1)" style="width:60%;cursor:pointer">
      </div>
      <div class="w3-third">
        <p>Víctor García</p>
        <img src="../../images/victor.jpg" class="w3-round w3-margin-bottom w3-hover-opacity" alt="Víctor García"
             ng-click="openLightbox();currentLightbox(2)" style="width:60%;cursor:pointer">
      </div>
      <div class="w3-third">
        <p>Rubén Moreno</p>
        <img src="../../images/ruben.jpg" class="w3-round w3-margin-bottom w3-hover-opacity" alt="Rubén Moreno"
             ng-click="openLightbox();currentLightbox(3)" style="width:60%;cursor:pointer">
      </div>
      <div class="w3-third">
        <p>Daniel Pérez</p>
        <img src="../../images/danielP.jpg" class="w3-round w3-margin-bottom w3-hover-opacity" alt="Daniel Pérez"
             ng-click="openLightbox();currentLightbox(4)" style="width:60%;cursor:pointer">
      </div>
      <div class="w3-third">
        <p>Daniel Cruz</p>
        <img src="../../images/danielC.jpg" class="w3-round w3-margin-bottom w3-hover-opacity" alt="Daniel Cruz"
             ng-click="openLightbox();currentLightbox(5)" style="width:60%;cursor:pointer">
      </div>
      <div class="w3-third">
        <p>Jesús Campillo</p>
        <img src="../../images/jesus.jpg" class="w3-round w3-margin-bottom w3-hover-opacity" alt="Jesús Campillo"
             ng-click="openLightbox();currentLightbox(6)" style="width:60%;cursor:pointer">
      </div>
    </div>

    <!-- lightbox modals -->
    <div id="lightboxModal" class="modal">
      <span class="close cursor" ng-click="closeLightbox()">&times;</span>
      <div class="modal-content">

        <div class="myLightbox">
          <img src="../../images/raul.jpg" style="max-height:100%;max-width:100%" alt="Raúl González">
        </div>

        <div class="myLightbox">
          <img src="../../images/victor.jpg" style="max-height:100%;max-width:100%" alt="Víctor García">
        </div>

        <div class="myLightbox">
          <img src="../../images/ruben.jpg" style="max-height:100%;max-width:100%" alt="Rubén Moreno">
        </div>

        <div class="myLightbox">
          <img src="../../images/danielP.jpg" style="max-height:100%;max-width:100%" alt="Daniel Pérez">
        </div>

        <div class="myLightbox">
          <img src="../../images/danielC.jpg" style="max-height:100%;max-width:100%" alt="Daniel Cruz">
        </div>

        <div class="myLightbox">
          <img src="../../images/jesus.jpg" style="max-height:100%;max-width:100%" alt="Jesús Campillo">
        </div>

        <a class="prev" ng-click="plusLightbox(-1)">&#10094;</a>
        <a class="next" ng-click="plusLightbox(1)">&#10095;</a>

        <div class="caption-container">
          <p id="caption"></p>
        </div>

        <div class="column">
          <img class="demo" src="../../images/raul.jpg" style="width:100%" ng-click="currentLightbox(1)" alt="Raúl González">
        </div>

        <div class="column">
          <img class="demo" src="../../images/victor.jpg" style="width:100%" ng-click="currentLightbox(2)" alt="Víctor García">
        </div>

        <div class="column">
          <img class="demo" src="../../images/ruben.jpg" style="width:100%" ng-click="currentLightbox(3)" alt="Rubén Moreno">
        </div>

        <div class="column">
          <img class="demo" src="../../images/danielP.jpg" style="width:100%" ng-click="currentLightbox(4)" alt="Daniel Pérez">
        </div>

        <div class="column">
          <img class="demo" src="../../images/danielC.jpg" style="width:100%" ng-click="currentLightbox(5)" alt="Daniel Cruz">
        </div>

        <div class="column">
          <img class="demo" src="../../images/jesus.jpg" style="width:100%" ng-click="currentLightbox(6)" alt="Jesús Campillo">
        </div>
      </div>
    </div>

  </div>
</div>
