<div id="slideshowStyle" class="w3-black">
  <div class="slideshow-container" id="onirianHome">
    <div class="mySlides fade w3-display-container w3-center">
      <img src="../../images/foto1.jpg" style="width:100%">
    </div>
    <div class="mySlides fade w3-display-container w3-center">
      <img src="../../images/foto2.jpg" style="width:100%">
    </div>
    <div class="mySlides fade w3-display-container w3-center">
      <img src="../../images/foto3.jpg" style="width:100%">
    </div>

    <a class="prev" ng-click="plusSlides(-1)">&#10094</a>
    <a class="next" ng-click="plusSlides(1)">&#10095</a>
  </div>
  <br>
  <div style="text-align:center">
    <span class="dot" ng-click="currentSlide(1)"></span>
    <span class="dot" ng-click="currentSlide(2)"></span>
    <span class="dot" ng-click="currentSlide(3)"></span>
  </div>
  <br>
</div>
