<div id="musicStyle">
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="onirianMusic">

    <h2 class="w3-wide w3-center">MÚSICA</h2>

    <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">

      <div class="w3-third w3-margin-bottom"></div>

      <div class="w3-third w3-margin-bottom">
        <div class=" w3-card-2">

          <img src="../../images/OnirianRaices.jpg" alt="Raíces" style="width:100%">
          <div class="w3-container w3-light-grey w3-center">
            <p class="w3-opacity" style="margin-bottom: 0">2016</p>
            <p style="margin-top: 0"><b>Raíces</b></p>
            <button class="w3-btn w3-margin-bottom w3-tag w3-red"
                    onclick="document.getElementById('musicModal').style.display='block'">Más información</button>
            <p class="w3-light-grey w3-large" style="margin-top:0">Descargar:
              <a href="https://goo.gl/G9KVuc" target="_blank" style="margin:0 3% 0 7%">
                <i class="fa fa-youtube w3-opacity w3-hover-text-red"></i></a>

              <a href="https://soundcloud.com/onirian/sets/onirian-ra-ces-2016" target="_blank" style="margin:0 3%">
                <i class="fa fa-soundcloud w3-opacity w3-hover-text-orange"></i></a>

              <a href="https://goo.gl/dqVV68" target="_blank" style="margin:0 3%">
                <i class="fa fa-cloud-download w3-opacity w3-hover-text-red"></i></a>
            </p>
          </div>

        </div>
      </div>

      <div class="w3-third w3-margin-bottom"></div>

    </div>
  </div>

  <!-- Ticket Modal -->
  <div id="musicModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-8">
      <header class="w3-container w3-food-chocolate w3-center w3-padding-32">
        <span onclick="document.getElementById('musicModal').style.display='none'"
              class="w3-closebtn w3-padding-xlarge w3-xxlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-info-circle w3-margin-right"></i>Información</h2>
      </header>
      <div class="w3-container">
        <h3 style="margin-bottom: 0">Raíces</h3>
        <p class="w3-opacity" style="margin-top: 0">Año de publicación: 2016</p>
        <p>Pistas:</p>
        <ol>
          <li>Siervos de la inmensidad</li>
          <li>Venciendo al dolor</li>
          <li>Te esperaré</li>
          <li>Tu apocalipsis</li>
        </ol>
        <p>Descargas:</p>
        <a class="w3-btn-block w3-padding-12 w3-section w3-right w3-food-chocolate" target="_blank"
           href="https://soundcloud.com/onirian/sets/onirian-ra-ces-2016">SoundCLoud</a>
        <a class="w3-btn-block w3-padding-12 w3-section w3-right w3-food-chocolate" target="_blank"
           href="https://goo.gl/dqVV68">MEGA</a>
        <a class="w3-btn-block w3-padding-12 w3-section w3-right w3-food-chocolate" target="_blank"
           href="https://goo.gl/G9KVuc">Youtube</a>
        <button class="w3-btn w3-red w3-section"
                onclick="document.getElementById('musicModal').style.display='none'">Cerrar <i class="fa fa-remove"></i></button>
        <p class="w3-right">Toda la información <a href="https://goo.gl/PxQPcw" class="w3-text-blue" target="_blank">aquí</a></p>
      </div>
    </div>
  </div>
</div>
