<div id="navbarStyle">
  <!-- Navbar -->
  <div class="w3-top">
    <ul class="w3-navbar w3-black w3-card-2 w3-left-align">
      <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
        <a class="w3-padding-large" href="javascript:void(0)" ng-click="myFunction()" title="Toggle Navigation Menu"><i
          class="fa fa-bars"></i></a>
      </li>
      <!-- navbar logos -->
      <li class="w3-hide-small"><a class="w3-padding-large w3-white" style="cursor: default">
        <img src="../../images/logoNegro.png" alt="onirianLogo" id="onirianNavbarLogoBlack"></a></li>
      <li class="w3-hide-large w3-hide-medium "><a class="w3-padding-large w3-black" style="cursor: default">
        <img src="../../images/logoBlanco.png" alt="onirianLogo" id="onirianNavbarLogoWhite"></a></li>

      <!-- menu options -->
      <li class="w3-hide-small active"><a href="#onirianHome" class="navbarPadding navbar-hover-style">
        INICIO</a></li>
      <li class="w3-hide-small"><a href="#onirianBand" class="navbarPadding">BIOGRAFÍA</a></li>
      <li class="w3-hide-small"><a href="#onirianConcerts" class="navbarPadding">CONCIERTOS</a></li>
      <li class="w3-hide-small"><a href="#onirianMusic" class="navbarPadding">MÚSICA</a></li>

      <li class="w3-hide-small w3-right"><a href="#onirianContact" class="navbarPadding">CONTACTO</a></li>
      <div class="socialNavbarIcons">
        <li class="w3-hide-small w3-right">
          <a href="https://www.facebook.com/Onirianzgz" target="_blank" class="navbarPadding">
            <i class="fa fa-facebook-official"></i></a></li>
        <li class="w3-hide-small w3-right">
          <a href="https://www.youtube.com/user/OnirianOfficial" target="_blank" class="navbarPadding">
            <i class="fa fa-youtube"></i></a></li>
        <li class="w3-hide-small w3-right">
          <a href="https://twitter.com/Onirian" target="_blank" class="navbarPadding">
            <i class="fa fa-twitter"></i></a></li>
      </div>
    </ul>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <ul class="w3-navbar w3-left-align w3-black">
      <li><a href="#onirianHome" ng-click="myFunction()" class="w3-padding-large navbar-hover-style">INICIO</a></li>
      <li><a href="#onirianBand" ng-click="myFunction()" class="w3-padding-large">BIOGRAFÍA</a></li>
      <li><a href="#onirianConcerts" ng-click="myFunction()" class="w3-padding-large">CONCIERTOS</a></li>
      <li><a href="#onirianMusic" ng-click="myFunction()" class="w3-padding-large">MÚSICA</a></li>
      <li><a href="#onirianContact" ng-click="myFunction()" class="w3-padding-large">CONTACTO</a></li>
      <div class="socialNavbarIcons">
        <li><a href="https://www.facebook.com/Onirianzgz" ng-click="myFunction()" target="_blank"
               class="w3-padding-large"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="https://www.youtube.com/user/OnirianOfficial" ng-click="myFunction()" target="_blank"
               class="w3-padding-large"><i class="fa fa-youtube"></i></a></li>
        <li><a href="https://twitter.com/Onirian" ng-click="myFunction()" target="_blank" class="w3-padding-large">
          <i class="fa fa-twitter"></i></a></li>
      </div>
    </ul>
  </div>
</div>
