<div id="photoViewStyle">
  <div class="container-fluid bg-intro text-center">

    <h1 class="margin-bottom letterSpacing">
      <span data-ng-bind-html="'photoView.TITLE' | translate | htmlSafe"></span>
    </h1>

    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <img src="../../images/ruben.jpg" class="img-responsive img-circle margin-bottom"
             alt="Ruben Moreno" id="avatar">
      </div>
    </div>
    <h1 class="margin-bottom letterSpacing">Rubén Moreno</h1>
    <h2 class="sm-letterSpacing">{{'photoView.JOB' | translate}}</h2>
    <div id="socialIcons">
      <a href="https://github.com/nebur395" target="_blank" class="fa fa-github"
         aria-hidden="true"></a>
      <a href="mailto:rubenmorenojimeno@gmail.com" class="fa fa-envelope" aria-hidden="true"></a>
      <a href="https://www.linkedin.com/in/ruben-mj/" target="_blank" class="fa fa-linkedin"
         aria-hidden="true"></a>
    </div>

    <div id="aboutAndProjectsLinks">
      <a style="margin-right: 2%" class="letterSpacing"
         ng-click="smoothScrolling({link: '#aboutMeStyle', clickEvent: $event})">
        {{'photoView.ABOUT' | translate}}</a>
      <a class="letterSpacing"
         ng-click="smoothScrolling({link: '#projectsStyle', clickEvent: $event})">
        {{'photoView.PROJECTS' | translate}}</a>
    </div>

    <a ng-click="smoothScrolling({link: '#aboutMeStyle', clickEvent: $event})" id="arrow">
      <em class="fa fa-chevron-down" aria-hidden="true"></em>
    </a>

  </div>
</div>
