<div id="photoViewStyle">
  <div class="container-fluid bg-intro text-center">

    <h1 class="margin-bottom letterSpacing">Who Am I?</h1>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <img src="../../images/ruben.jpg" class="img-responsive img-circle margin-bottom"
             alt="Ruben Moreno" id="avatar">
      </div>
    </div>
    <h1 class="margin-bottom letterSpacing">Rubén Moreno</h1>
    <h2 class="sm-letterSpacing">Software Developer</h2>
    <div id="socialIcons">
      <a href="#" class="fa fa-github" aria-hidden="true"></a>
      <a href="#" class="fa fa-envelope" aria-hidden="true"></a>
      <a href="#" class="fa fa-linkedin" aria-hidden="true"></a>
    </div>

    <div id="aboutAndProjectsLinks">
      <a href="#aboutMeStyle" style="margin-right: 2%" class="letterSpacing">About Me</a>
      <a href="#projectsStyle" class="letterSpacing">Projects</a>
    </div>

    <a href="#aboutMeStyle" id="arrow">
      <em class="fa fa-chevron-down" aria-hidden="true"></em>
    </a>

  </div>
</div>
