<div id="projectsStyle">
  <div class="container-fluid bg-3 text-center">

    <h3 class="margin-bottom">Some of my coolest projects</h3>


    <div class="col-sm-4">
      <p>Lorem ipsum..</p>
      <img src="./images/ruben.jpg" class="img-responsive margin-bottom" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum..</p>
      <img src="./images/ruben.jpg" class="img-responsive margin-bottom" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum..</p>
      <img src="./images/ruben.jpg" class="img-responsive margin-bottom" alt="Image">
    </div>

  </div>
</div>
