<div id="projectsStyle">
  <div class="container-fluid bg-3 text-center">

    <h3 class="margin-bottom">Some of my coolest projects</h3>


    <div class="projectsRow">

      <div class="projectsColumn" ng-repeat="project in projectList track by $index">
        <div class="projectsCard">
          <img ng-src="./images/{{project.image}}" class="img-responsive" alt="Image">

          <div class="projectsContainer">
            <h4>{{project.title}}</h4>

            <p class="projectsTitle">{{project.secondaryTitle}}</p>
            <div class="divider"></div>
            <p class="text-justify">{{project.description}}</p>
          </div>

        </div>

        <div class="middleButtons">
          <div class="projectsButton">GitHub</div>
          </br>
          <div class="projectsButton">Website</div>
        </div>
      </div>

    </div>

  </div>
</div>
