#footerStyle .letterSpacing {
  letter-spacing: 5px;
}

#footerStyle .sm-letterSpacing {
  letter-spacing: 2px;
}

#footerStyle .customLinks a {
  transition: 0.3s;
  color: #D7CCC8;
}

#footerStyle .customLinks a:hover {
  color: rgba(158, 158, 158, 0.7);
}

#footerStyle p, #footerStyle #backTop {
  font-size: 12px;
}
