<div id="aboutMeStyle" class="bg-2">
  <div class="container text-center">

    <h3 class="margin-bottom">
      <!-- DATA TEXT translated and sanitized -->
      <span data-ng-bind-html="'aboutMe.TITLE' | translate | htmlSafe"></span>
    </h3>

    <p class="col-sm-offset-1 col-sm-10 margin-bottom slideanim">
      <!-- DATA TEXT translated and sanitized -->
      <span data-ng-bind-html="'aboutMe.INTRO' | translate | htmlSafe"></span>
    </p>


    <div class="row margin-bottom">
      <div class="col-sm-4 slideanim">
        <div class="col-xs-12">
          <img src="../../images/html.png" class="img-responsive" alt="technologiesSkills">
        </div>
        <div class="col-xs-12 text-justify">
          <p>
            <!-- DATA TEXT translated and sanitized -->
            <span data-ng-bind-html="'aboutMe.FRONTEND' | translate | htmlSafe"></span>
          </p>
        </div>
      </div>

      <div class="col-sm-4 slideanim">
        <div class="col-xs-12">
          <img src="../../images/fullStack.png" class="img-responsive" alt="technologiesSkills">
        </div>
        <div class="col-xs-12 text-justify">
          <p>
            <!-- DATA TEXT translated and sanitized -->
            <span data-ng-bind-html="'aboutMe.BACKEND' | translate | htmlSafe"></span>
          </p>
        </div>
      </div>

      <div class="col-sm-4 slideanim">
        <div class="col-xs-12">
          <img src="../../images/management.png" class="img-responsive" alt="manageSkills">
        </div>
        <div class="col-xs-12 text-justify">
          <p>
            <!-- DATA TEXT translated and sanitized -->
            <span data-ng-bind-html="'aboutMe.MANAGEMENT' | translate | htmlSafe"></span>
          </p>
        </div>
      </div>
    </div>


    <div class="col-sm-offset-1 col-sm-10 slideanim">
      <p>
        <!-- DATA TEXT translated and sanitized -->
        <span data-ng-bind-html="'aboutMe.PERSONAL_DEVELOPMENT' | translate | htmlSafe"></span>
      </p>
      <p class="margin-bottom">
        <!-- DATA TEXT translated and sanitized -->
        <span data-ng-bind-html="'aboutMe.PERSONAL_ACTIVITIES' | translate | htmlSafe"></span>
      </p>
    </div>
  </div>
</div>
