<div id="projectsStyle">
  <div class="container-fluid bg-3 text-center">

    <h3 class="margin-bottom">
      <!-- DATA TEXT translated and sanitized -->
      <span data-ng-bind-html="'projects.TITLE' | translate | htmlSafe"></span>
    </h3>


    <div class="projectsRow slideanim">

      <div class="projectsColumn" ng-repeat="project in projectList track by $index"
           ng-class="{projectsColumnMobile: !isMobile}">

        <div class="projectsCard">
          <img ng-src="./images/{{project.image}}" class="img-responsive" alt="Image">

          <div class="projectsContainer">
            <h4>{{project.title}}</h4>

            <p class="projectsTitle">
              <!-- DATA TEXT translated and sanitized -->
              <span data-ng-bind-html="project.secondaryTitle | translate | htmlSafe"></span>
            </p>

            <div class="divider"></div>

            <p class="text-justify">
              <!-- DATA TEXT translated and sanitized -->
              <span data-ng-bind-html="project.description | translate | htmlSafe"></span>
            </p>

            <div class="col-xs-12 text-center mobileButtons" ng-hide="!isMobile">
              <a ng-href="{{project.link}}" target="_blank" class="projectsButton">GitHub</a>
              <a ng-if="project.webPage.length > 0" ng-href="{{$parent.project.webPage}}"
                 target="_blank" class="projectsButton">Website</a>
            </div>
          </div>
        </div>

        <div class="middleButtons" ng-hide="isMobile">
          <a ng-href="{{project.link}}" target="_blank" class="projectsButton">GitHub</a>
          <div ng-if="project.webPage.length > 0">
            </br>
            <a ng-href="{{$parent.project.webPage}}" target="_blank" class="projectsButton">Website</a>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
